@mixin transition( $target, $duration, $type ){
  -webkit-transition: $target $duration $type;
  -moz-transition: $target $duration $type;
  -ms-transition: $target $duration $type;
  -o-transition: $target $duration $type;
  transition: $target $duration $type;
}
@mixin box-shadow( $w, $x, $y, $z, $color ){
  -webkit-box-shadow: $w $x $y $z $color;
  -moz-box-shadow: $w $x $y $z $color;
  box-shadow: $w $x $y $z $color;
}
@mixin border-radius( $radius ){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}