@import "mixins", "animations", "style_templates";
@import "global_styles";

html {
  height: 100%;
  body {
    font-family: 'Roboto Thin', sans-serif;
    height: 100%;
    background-color: #FFFFFF;
    .app-container, .categories {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .app-container {
      .landing-page {
        opacity: 0;
        position: relative;
        .background {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          background: transparent url("../images/homepage/homepage_bkg.png") no-repeat center center;
          background-size: cover;
        }
        .logo-and-button {
          display: inline-block;
          position: absolute;
          left: 0;
          .logo {
            margin-bottom: 20px;
            width: 100%;
            img {
              max-width: 100%;
            }
          }
          .button {
            text-align: center;
            img {
              cursor: pointer;
            }
          }
        }
      }
    }
    .categories-container {
      .categories {
        overflow: hidden;
        right: -100%;
        .category {
          height: 100%;
          padding: 0;
          .cta {
            text-align: center;
            opacity: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
            @include transition( all, .5s, ease );
            .category-name {
              font-size: 60pt;
              color: #d9951e;
            }
            .button {
              img {
                cursor: pointer;
              }
            }
          }
          .background {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            z-index: 1;
            @include transition( width, .5s, ease );
            @each $category in first, second, third, fourth {
              &.#{$category} {
                background: transparent url('../images/categories/#{$category}.jpg') no-repeat left top;
                background-size: cover;
              }
            }
          }
          .overlay {
            opacity: 1;
            //@include transition( all, .5s, ease );
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 2;
          }
          &:hover {
            .cta {
              opacity: 1;
              z-index: 5;
            }
            .background {
              width: 110%;
              z-index: 3;
            }
            .overlay {
              opacity: 0;
              width: 110%;
              z-index: 4;
            }
          }
        }
      }
    }
  }
}